Does not work with vue-router in hash mode

<!--
Thank you for reporting an issue.

Please fill in as much of the template below as you're able. Feel free to delete any section you want to skip.
-->

### Search terms you've used
- hash
- #
- vue router

### Impacted package

Which packages do you think might be impacted by the bug ?

- [x] solid-client-authn-browser
- [ ] solid-client-authn-node
- [ ] solid-client-authn-core
- [ ] oidc-client-ext
- [ ] Other (please specify): ...

### Bug description

<!-- A short description of what the problem is. -->

Running vue-router in *hash* mode uses a hash `#` in the URL for routing, e.g. `localhost/#/callback` is for the `callback` route. However, using such URL with `solid-client-authn-browser` is disallowed, resulting in malformed URL error. This limitation should be removed or at least customizable through an optional parameter.

### To Reproduce

1. Create a vue application using vue-router, configured in `hash` mode
2. Call `login()` with a URL with hash as callback parameter

### Expected result

<!-- A clear and concise description of what you expected to happen -->

Proceed with log-in.

### Actual result

<!-- A description of what actually happened -->

Won't go to any further page, but receive the following in browser console:

```
Uncaught (in promise) Error: http://localhost:9000/#/callback is not a valid redirect URL, it is either a malformed IRI or it includes a hash fragment.
    login ClientAuthentication.ts:67
    login Session.ts:233
    login solid-helper-vue.mjs:11
    wrapAction pinia.mjs:1380
    actionName pinia.mjs:935
    login UserInfo.vue:47
    callWithErrorHandling runtime-core.esm-bundler.js:158
    callWithAsyncErrorHandling runtime-core.esm-bundler.js:166
    emit runtime-core.esm-bundler.js:669
    navigateOnClick quasar.esm.js:2968
    onClick quasar.esm.js:3700
    callWithErrorHandling runtime-core.esm-bundler.js:158
    callWithAsyncErrorHandling runtime-core.esm-bundler.js:166
    invoker runtime-dom.esm-bundler.js:595
    addEventListener runtime-dom.esm-bundler.js:549
    patchEvent runtime-dom.esm-bundler.js:564
    patchProp runtime-dom.esm-bundler.js:627
    mountElement runtime-core.esm-bundler.js:5256
    processElement runtime-core.esm-bundler.js:5203
    patch runtime-core.esm-bundler.js:5075
    componentUpdateFn runtime-core.esm-bundler.js:5755
    run reactivity.esm-bundler.js:178
    update runtime-core.esm-bundler.js:5861
    setupRenderEffect runtime-core.esm-bundler.js:5869
    mountComponent runtime-core.esm-bundler.js:5659
    processComponent runtime-core.esm-bundler.js:5612
    patch runtime-core.esm-bundler.js:5087
    mountChildren runtime-core.esm-bundler.js:5331
    processFragment runtime-core.esm-bundler.js:5546
    patch runtime-core.esm-bundler.js:5061
    componentUpdateFn runtime-core.esm-bundler.js:5755
    run reactivity.esm-bundler.js:178
    update runtime-core.esm-bundler.js:5861
    setupRenderEffect runtime-core.esm-bundler.js:5869
    mountComponent runtime-core.esm-bundler.js:5659
    processComponent runtime-core.esm-bundler.js:5612
    patch runtime-core.esm-bundler.js:5087
    mountChildren runtime-core.esm-bundler.js:5331
    mountElement runtime-core.esm-bundler.js:5238
    processElement runtime-core.esm-bundler.js:5203
    patch runtime-core.esm-bundler.js:5075
    mountChildren runtime-core.esm-bundler.js:5331
    mountElement runtime-core.esm-bundler.js:5238
    processElement runtime-core.esm-bundler.js:5203
[ClientAuthentication.ts:67:12](http://localhost:9000/solid-helper-vue/node_modules/@inrupt/solid-client-authn-browser/src/ClientAuthentication.ts)
```

### Environment

```
  System:
    OS: Linux 6.6 Arch Linux
    CPU: (8) x64 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
    Memory: 2.80 GB / 15.41 GB
    Container: Yes
    Shell: 5.9 - /bin/zsh
  Binaries:
    Node: 21.2.0 - /usr/bin/node
    Yarn: 1.22.19 - /usr/bin/yarn
    npm: 10.2.4 - /usr/bin/npm
  Browsers:
    Chromium: 119.0.6045.159
  npmPackages:
    @inrupt/vocab-common-rdf: ^1.0.5 => 1.0.5 
    @quasar/app-vite: ^1.3.0 => 1.6.2 
    @quasar/extras: ^1.16.4 => 1.16.8 
    @renyuneyun/solid-helper: ^0.0.3 => 0.0.3 
    @types/n3: ^1.16.3 => 1.16.4 
    @types/node: ^12.20.21 => 12.20.55 
    @typescript-eslint/eslint-plugin: ^5.10.0 => 5.62.0 
    @typescript-eslint/parser: ^5.10.0 => 5.62.0 
    @web3-storage/parse-link-header: ^3.1.0 => 3.1.0 
    autoprefixer: ^10.4.2 => 10.4.16 
    eslint: ^8.10.0 => 8.53.0 
    eslint-config-prettier: ^8.1.0 => 8.10.0 
    eslint-plugin-vue: ^9.0.0 => 9.18.1 
    n3: ^1.17.2 => 1.17.2 
    pinia: ^2.0.11 => 2.1.7 
    prettier: ^2.5.1 => 2.8.8 
    quasar: ^2.6.0 => 2.13.1 
    solid-helper-vue: file:../solid-helper-vue => 0.1.5 
    solid-namespace: ^0.5.3 => 0.5.3 
    typescript: ^4.5.4 => 4.9.5 
    vue: ^3.0.0 => 3.3.8 
    vue-router: ^4.0.0 => 4.2.5 
  npmGlobalPackages:
    @renyuneyun/solid-helper: 0.0.3
    @renyuneyun/parse-link-header-ts: 1.0.1
    orchestrator-app: 0.1.0
    solid-helper-vue: 0.1.5
    solid-shell: 2.0.8

```

## Additional information

<!-- Add any other relevant information that might be useful to understand and find a solution to the problem -->


https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2

> The redirection endpoint URI MUST be an absolute URI as defined by
   [[RFC3986] Section 4.3](https://datatracker.ietf.org/doc/html/rfc3986#section-4.3).  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per [Appendix B](https://datatracker.ietf.org/doc/html/rfc6749#appendix-B)) query
   component ([[RFC3986] Section 3.4](https://datatracker.ietf.org/doc/html/rfc3986#section-3.4)), which MUST be retained when adding
   additional query parameters.  **The endpoint URI MUST NOT include a
   fragment component.**

This is a requirement of OAuth2.0, not an implementation choice of this library.

You should have no problem using Vue router [HTML5 mode](https://router.vuejs.org/guide/essentials/history-mode#HTML5-Mode) instead. 

> https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2

Hi @elf-pavlik, thanks for the info. I understand the choice to stay with the standard. But that's unfortunate...

> You should have no problem using Vue router HTML5 mode instead.

Yes, I figured that out as well, so didn't post the question initially.
However, I later found that may not work in my case in the end, because I'm using Quasar as UI framework, which cannot compile to static pages (I found a plugin for that, but it does not work due to conflicting dependencies). If using SPA, it seems HTML5 mode (thus `history` mode in quasar.config.js) will cause issues if deployed to sites like github pages, as [Quasar doc](https://quasar.dev/quasar-cli-vite/developing-spa/deploying#general-deployment) says:

> The web server requires no special setup (**unless you built with Vue Router in “history” mode in the /quasar.config file**)

> I understand the choice to stay with the standard. But that's unfortunate... 

I think that unfortunate is the poor support for SPA hosting on GitHub pages.
Anyway, I believe that the maintainers of this repo will respond during the work week. Personally, I think they should stick to the OAuth spec, as they currently do.

> If using SPA, it seems HTML5 mode (thus history mode in quasar.config.js) will cause issues if deployed to sites like github pages

Personally, I usually have access to some VM where I can deploy things more freely. I did some searching and it seems that in your case you can either use a hacky workaround with a custom 404 page or just use different (possibly also free) hosting. Some links:

* [GitHub Pages does not support routing for single page apps](https://github.com/orgs/community/discussions/64096)
* [Publish your Quasar SPA on Github.io with History Mode](https://dev.to/quasar/publish-your-quasar-spa-on-github-io-with-history-mode-20h2)
* [Quasar CLI with Vite - Deploying a SPA](https://quasar.dev/quasar-cli-vite/developing-spa/deploying/)

I can think of two solid chats where people could have more ideas:

* https://app.gitter.im/#/room/#solid_app-development:gitter.im
* https://app.gitter.im/#/room/#solid-practitioners:matrix.org


Hi  @renyuneyun , thanks for reaching out, and thanks @elf-pavlik for responding so quickly! As @elf-pavlik said, the library in this case fails early so that you get the error in the context of your app, rather than being hit with a more generic `invalid redirect URL` error on the OpenID Provider. This is required by the OAuth specification (as it has been pointed out in https://github.com/inrupt/solid-client-authn-js/issues/3241#issuecomment-1817593540), so we will not change this behavior.

@renyuneyun there is something I haven't tried myself, but theoretically, it could work for you. I think you could simply use the root of the domain `/` as your redirection endpoint, from there, a route guard could check if OAuth2 query parameters are present and handle the redirect if needed.

I probably shouldn't be responding in this already closed issue, feel free to ping me over one of the matrix chats any time.

For the record, I'm happy for the conversation to continue in the closed issue if that can help finding a workaround, the issue being closed is more a signal to other users that this isn't something wrong with the library itself.

Thanks all for the information.

> root of the domain / as your redirection endpoint, 

Yes that is possible for what I'm doing right now, but will not work natively in potentially future projects. That's why I'm trying to find out how to work in all cases (esp. hash mode).

Anyway, it looks like the best solution is to use History / HTML5 mode, with server-side configuration of redirection. GitHub Pages do not support that directly (as @elf-pavlik has pointed out). Vercel does support that.

The generic solution is to build real static sites, with multiple HTML files for each endpoint, rather than SPA.
(Unfortunately I'm using Quasar, and Quasar does not support that directly. An extension for doing that [fails to install](https://github.com/freddy38510/quasar-app-extension-ssg/issues/372).)